<nav id="navbar-1" class="navbar item-nav navbar-right">
    <ul>
        {% for page in pages.children %}
            {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.link }}">{{ mitem.text }}</a>
            </li>
        {% endfor %}
        {% if config.plugins.feed.enabled %}
            <li>
                <a href="{{ feed_url }}.rss">Feed</a>
            </li>
        {% endif %}
    </ul>
</nav>          